:root {
  --backgound-color:#15183b;
  --primal-color: #000926;
  --text-color: #ffffff;
  --info-text-color: #ffffff;
}

html {
  width: 290px;
  background-color:var(--backgound-color);
}

body {
  margin: 0px !important;
}

.cant-container{
  margin-left: 5px !important;
  margin-right: 5px !important;
}

hr{
  opacity:.5;
}

img {
  /*width: 20px;*/
}

#mainCont {
  min-width: 100%;
}

.cant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 16px;
  margin: 1rem 0rem;
  text-align: center;
  color: var(--text-color);
}

.cant-icon {
  width: 50px;
}

header {
  display: flex;
  justify-content: space-between;
  background-color:#0d1117;
  /*margin-top: 0.5rem;*/
  /*margin-bottom: 0.5rem;*/
}

hr{
  margin:0 !important;
}

header div {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.25rem;
  color: var(--text-color);
}

header h4 {
  font-family: lobster, sans-serif;
  margin: 0;
  text-align: center;
  font-size: 20px;
  font-weight: unset;
}

#picker_btn {
  padding: 0.5rem;
  background-color: white;
  font-size: 15px;
  border: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
  color: var(--backgound-color);;
  font-weight: bold;
}

#picker_btn:hover {
  background-color: #245fb3;
  color: var(--text-color);
}

#picker_btn_cont{
  display:flex;
}

#result {
  list-style: none;
  grid-gap: 3px;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin: 5px 5px;
}

#result > li {
    cursor: pointer;
    padding: 2px 5px;
    font-size: 15px;
    border-radius: 3px;
    color: #0008;
    font-weight:bold;
    text-align: center;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: end;
    border:solid thin transparent;
    transition:color .3s ease;
  }

  #result > li:hover {
  color:white;
  }

.errorLabel {
  color: var(--text-color);
  font-weight: bold;
  padding: 5px;
  text-align: center;
  margin: 0;
  margin-top: 20px;
  font-size: 14px;
  border-radius: 3px;
}

#ClearButton {
  cursor: pointer;
  background-color: #1a3771;
  color: var(--text-color);
  border: solid thin transparent;
  display:flex;
  justify-content: center;
  align-items: center;
  width:35px;
  height:35px;
}

#ClearButton:hover{
  background-color:#ba1423;
}

#ClearButton img{
  width:20px;
}

#ClearButton:hover {
}

#add-button{
  border:solid thin white !important;
  /*background-color:grey;*/
  color:white !important;
  display:flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-weight: bold;
  font-size:1.2rem;
}

#add-button:hover{
  background-color:#fff2;
}

#add-first-button{
  border:solid thin white !important;
  /*background-color:grey;*/
  color:white !important;
  display:flex;
  justify-content: center !important;
  align-items: center !important;
  font-weight: bold;
  font-size:1.2rem;
  width:100%;
}

#add-first-button:hover{
  background-color:#fff2;
}

.info-container {
  display: none;
  color: var(--text-color);
  text-align: center;
  background-color: yellowgreen;
  padding: 0.5rem;
}

.info-container p {
  margin: 0;
}

.info-open {
  display: block;
}

